<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav class="navbar">
        <div class="contanier">
            <ul class="nav">
                <li><a href="{% url 'first_app:user'%}">View User</a></li>
                <li><a href="{% url 'first_app:demo'%}">View Demo</a></li>
                <li><a href="{% url 'first_app:myform'%}">Submit Issue</a></li>
                <li><a href="{% url 'first_app:myform2'%}">Register</a></li>
                {% if  %}{% endif %}
                <li><a href="{% url 'first_app:login'%}">login</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block body_block%}
        {% endblock%}
    </div>
</body>

</html>